<!DOCTYPE html>
<html>
    <head>
        <%- include('template/head') %>
    </head>

    <%- include('template/navbar') %>
    <div class="container mt-2">
        <form method="POST" action="/update_comments/<%= comment.id %>">
            <div class="form-group">
                <label>編輯文章</label>
                <textarea name="content" class="form-control">
<%= comment.content %></textarea
                >
            </div>
            <button type="submit" class="btn btn-primary mt-2">送出</button>
        </form>
    </div>
</html>
