<h1>註冊頁面</h1>

<h2><%= errorMessage %></h2>
<form method="POST" action="register">
    <div>Username: <input type="text" name="username" /></div>
    <div>Password: <input type="password" name="password" /></div>
    <div>Nickname: <input type="text" name="nickname" /></div>
    <input type="submit" />
</form>
